@{
    Layout = "_LayoutLogin";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<form class="Login"> 
    <div class="col-md-3">
        <label for="inputEmail4" class="form-label">Usuário</label>
        <input type="email" class="form-control" id="inputEmail4" 
        <label for="inputPassword4" class="form-label">Senha</label>
        <input type="password" class="form-control" id="inputPassword4" 
    </div>
    <p></p>

    <div class="col-12 text-center">
        <button class="btn btn-primary  col-3" role="button">Entrar</button>

    </div>
</form>